
_target_: src.models.vio_module.VIOLitModule

optimizer:
  _target_: torch.optim.AdamW
  _partial_: true
  lr: 0.0001

scheduler:
  _target_: torch.optim.lr_scheduler.CosineAnnealingWarmRestarts
  _partial_: true
  T_0: 25
  T_mult: 1



criterion:
  _target_: torch.nn.MSELoss

net:
  _target_: src.models.components.pose_transformer.PoseTransformer
  input_dim: 768
  embedding_dim: 768
  num_layers: 4
  nhead: 6
  dim_feedforward: 128
  dropout: 0.0

metrics_calculator:
  _target_: src.metrics.kitti_metrics_calculator.KITTIMetricsCalculator

tester:
  _target_: src.testers.kitti_latent_tester.KITTILatentTester
  val_seqs: ['05','07', '10']
  data_dir: ${paths.data_dir}/kitti_data
  seq_len: 65
  folder: sequences
  img_w: 432
  img_h: 960
  wrapper_weights_path: ${paths.root_dir}/pretrained_models/vf_512_if_256_3e-05.model
  device: 'cuda'
  v_f_len: 512
  i_f_len: 256
  raft_args:  # 在这里添加 RAFT 参数
    name: "sintel-M"
    dataset: "sintel"
    gpus: [0, 1, 2, 3, 4, 5, 6, 7]
    use_var: true
    var_min: 0
    var_max: 10
    pretrain: "resnet34"
    initial_dim: 64
    block_dims: [64, 128, 256]
    radius: 4
    dim: 128
    num_blocks: 2
    iters: 12
    image_size: [432, 960]
    scale: 0
    batch_size: 32
    epsilon: 1e-8
    lr: 4e-4
    wdecay: 1e-5
    dropout: 0
    clip: 1.0
    gamma: 0.85
    num_steps: 300000
    restore_ckpt: null
    coarse_config: null

# compile model for faster training with pytorch 2.0
compile: false